<h1>Categories Page</h1>


<div class="">
  <h3>Create category</h3>
  <input type="text" ng-model="catBox">
  <button type="button" ng-click="addCustomCategory()">Add</button>
</div>

<div class="">
  <h3>Link each category with the categories you have in the online shops</h3> editNameState is: {{editNameState}}
  <ul>
    <li ng-repeat="(catId, cat) in customCategories track by $index">
      <!--  TODO: orderBy cat.name -->

      <!-- Edit Mode for Category Name  -->
      <div ng-if="categorySelectedForEditing == catId">
        <input type="text" ng-model="cat.name" ng-blur=updateEditNameState(cat.name)>
        <button type="button" ng-click="saveEdit(catId, editNameState)">Save</button>
        <button type="button" ng-click="cancelEdit(catId)">Cancel</button>
      </div>

      <!-- Normal Mode -->
      <div ng-if="categorySelectedForEditing != catId">
        {{cat.name}}
        <button type="button" ng-click="startEditingCategoryName(catId)">edit</button>
        <button type="button" ng-click="removeCategory(catId)">remove</button>
        <button type="button" ng-click="selectCategoryForLinking(catId)">link</button>
      </div>

    </li>
  </ul>
</div>
<br>
<!-- <button type="button" ng-click="unselectForLinking()">Exit linking mode</button> -->
<hr>
<br>
<!-- <div class="" ng-hide="selectedForLinking == null">
  This one is supposed to be a modal..
  <div class="" ng-repeat="shop in extenralCategories">
    shopName: {{shop.shopName}}
    <ul>
      <li ng-repeat="cat in shop.categories track by $index" ng-click="linkToExternalCategory(cat.categoryId)">
        {{cat.name}}
      </li>
    </ul>
    <hr style="margin: 0px" width="400px">
  </div>
</div> -->