<h1>Categories Page</h1>


<div class="">
  <pre>{{customCategories}}</pre>
  <h3>Create category</h3>
  <input type="text" ng-model="catBox" on-Enter="createCustomCategory()">
  <button type="button" ng-click="createCustomCategory()">Add</button>
</div>

<div class="">
  <h3>Link each category with the categories you have in the online shops</h3>
  <ul>
    <li ng-repeat="(catId, cat) in customCategories">
      <!--  TODO: orderBy cat.name -->

      <!-- Edit Mode for Category Name  -->
      <div ng-if="categorySelectedForEditing == catId">
        <!-- What a ng-repeat hack!! -->
        <input type="text" ng-model="cat.name" ng-blur="updateEditNameState(cat.name)" on-Enter="saveEdit(catId)" on-Esc="cancelEdit(catId)">
        <button type="button" ng-click="saveEdit(catId)">Save</button>
        <button type="button" ng-click="cancelEdit(catId)">Cancel</button>
      </div>

      <!-- Normal Mode -->
      <div ng-if="categorySelectedForEditing != catId">
        {{cat.name}}
        <button type="button" ng-click="startEditingCategoryName(catId)">edit</button>
        <button type="button" ng-click="removeCategory(catId)">remove</button>
        <button type="button" ng-click="selectCategoryForLinking(catId)">link</button>
      </div>

    </li>
  </ul>
</div>
<br>
<button type="button" ng-click="unselectCategoryForLinking()">Exit linking mode</button>
<hr>
<br>

<div class="" ng-if="selectedForLinking != null">

  <br> Link the {{ getSelectedCategoryName() }} category with the ones in your shops..

  <br>
  <div class="" ng-repeat="(shopName, shop) in externalCategories">
    <br> shopName: {{shopName}}
    <br>
    <ul>
      <li ng-repeat="externalCat in shop.categories track by $index">

        {{externalCat.name}}

        <div style="display: inline-block;" ng-if="externalCategoryWasAlreadyLinked(shopName, externalCat)">
          <!-- Show the remove button. -->
          <button type="button" ng-click="removeLinkToExternalCategory(shopName,externalCat)">Remove</button>
        </div>
        <div style="display: inline-block;" ng-if="!externalCategoryWasAlreadyLinked(shopName, externalCat)">
          <button type="button" ng-click="addLinkToExternalCategory(shopName,externalCat)">Add</button>
          <!-- Show the add button. -->
        </div>

      </li>
    </ul>
    <hr style="margin: 0px" width="400px">
  </div>
</div>
