<h1>Orders page</h1>

<div class="">

  <!-- One Order -->
  <div class="" ng-repeat="order in orders">


    <!-- Date -->
    <div class="">
      date: {{order.date}}
      <br>
    </div>




    <!-- Purchases -->

    <div class="" ng-repeat="purchase in order.purchases">
      <purchase data="purchase"></purchase>
      <br>
    </div>


    <!-- Total -->
    <div class="">
      total: {{ calculateTotalPrice(order.id) | currency}}
      <br>
    </div>



    <!-- Order status -->
    <div class="">
      orderStatus: {{order.orderStatus}}
      <br>
      your action:
      <button type="button" ng-click="switchOrderStatus(order.id)">{{getActionName(order.id)}}</button>
    </div>



    <!-- Details Button -->
    <div class="">
      <a href="#/order/{{order.id}}">
        <button type="button"> Order Details </button>
      </a>
    </div>

      <!-- <a href="#/productReviews/{{product.id}}">Settings</a> -->

    <hr>
  </div>

</div>
