<h1>Orders page</h1>

<div class="">

  <!-- One Order -->
  <div class="">


    <!-- Date -->
    <div class="">
      "17 june 2018"
    </div>


    <!-- Purchases -->
    <div class="" style="" >

      <!-- One Purchase -->
      <div>
        <div class="" style="display:flex">
          <div class="">
            2  <span>x</span>
          </div>

          <img style="width:50px; height:50px" src="http://www.whitevilla.co.uk/img/missing_product.png" alt="">

          <div class="">
            Name of the product
          </div>
        </div>
        <hr>
      </div>

      <!-- One Purchase -->
      <div>
        <div class="" style="display:flex">
          <div class="">
            2  <span>x</span>
          </div>

          <img style="width:50px; height:50px" src="http://www.whitevilla.co.uk/img/missing_product.png" alt="">

          <div class="">
            Name of the product
          </div>
        </div>
        <hr>
      </div>

    </div>


    <!-- Total -->
    <div class="">
      {{200 | currency}}
    </div>


    <!-- Order status -->
    <div class="">

    </div>

    <!-- Details Button -->
    <div class="">

    </div>


  </div>


</div>
