<h1>Product reviews page.</h1>

<div ng-if="product">

  <h2>Product Name: {{product.name}}</h2>

  <div class="">
    <div class="review" ng-repeat="(revId, review) in product.reviews">

      <!-- Review rating -->
      <div class="">
        Review rating: {{review.value}}
      </div>

      <!-- Review message -->
      <div class="">
        Review message: {{review.message}}
      </div>

      <!-- Review replies -->
      <div class="">
        <div ng-repeat="reply in review.replies">

          <div ng-if="reply.who == 'client'">
            <span>{{ getClientName(review.clientId) }}</span>
            <span>says: </span>
            <p>{{reply.text}}</p>
          </div>

          <div ng-if="reply.who == 'admin'">
            <span>you: </span>
            <p>{{reply.text}}</p>
          </div>

        </div>
      </div>

      <!-- Add new reply -->
      <!-- <input type="text" ng-model="value" ng-blur="updateReply(value)" on-Enter="createReply(review value)" on-Esc="cancelEdit(catId)" > -->
      <input type="text"
        ng-model="review.replyBox"
        on-Enter="createAdminReply(review.id)"
        >

      <button type="button" ng-click="createAdminReply(review.id, replyValue)">Add reply</button>
      <hr>
    </div>

  </div>


</div>
