<h1>Products page.</h1>
<ul>
  <li ng-repeat="product in allProducts">

    <!-- Image -->
    <div class="">
      <img style="width: 150px; height: 150px;" ng-src={{product.mainImageUrl}} alt="no image">
    </div>

    <!-- name -->
    <div class="">
      product name: {{product.name}}
    </div>

    <!-- description -->
    <div class="">
      product description: {{product.short_description}}
    </div>


    <!-- price -->
    <div class="">
      price: {{product.price |currency }}
    </div>


    <!-- rating -->
    <div class="">
      total rating: {{calculateTotalRating(product.id)}}
    </div>


    <!-- access reviews page for this product -->
    <div class="">
      <span class="">
        {{getNrOfReviews(product.id)}}
      </span>
      <!-- TODO: change the plural here: review vs reviews-->
      <a href="#/productReviews/{{product.id}}">reviews</a>
    </div>


    <!-- Block This Product functionality - hide the product from the users.. -->
    <button
        type="button"
        ng-click="toggleProductVisiblity(product.id)"
        >
        {{
          (product.isHidden ? "show" : "hide")
        }}
    </button>
    <hr>
  </li>
</ul>
