
<!-- when Cart is empty -->
<div ng-if="!cartIsEmpty()">
  Your cart is empty
</div>

<!-- when Cart contains stuff -->
<div ng-if="cartIsEmpty()">
  Your cart.
  <div ng-repeat="product in products">

    <button type="button" ng-click="updateHowManyBy( product.$id, 1)">+</button>

    : {{ purchases.$getRecord(product.$id).howMany }} :

    <button type="button" ng-click="updateHowManyBy( product.$id, -1)">-</button>
    <button type="button" ng-click="removeFromCart(product.$id)">Remove</button>

    {{ product.name }}
    {{ product.short_description }}

    <hr>
  </div>

  <button type="button" ng-click="sendOrder()">Send Order</button>
</div>
