<ion-content id="scrollContent" scroll-watch>

            <!-- categories
            <div class="v-center">
            <p class="p-20 m-b-0 p-b-10 fw-100 text-gray">Electronics
              <span><img src="img/icons/chevron-right.png" width="10"></span>
               Phones
             </p>
           </div>-->
           <!-- <div class="p-l-20 p-r-20 p-t-20 ">
           <div class="selectParent m-r-30">
             <select class="text-gray no-border">
                <option value="volvo">Name &nbsp;</option>
                <option value="saab">Saab &nbsp;</option>
                <option value="opel">Opel &nbsp;</option>
                <option value="audi">Audi &nbsp;</option>
              </select>
            </div>
            <div class="selectParent">
              <select class="text-gray no-border">
                 <option value="volvo">Price &nbsp;</option>
                 <option value="saab">$100 &nbsp;</option>
                 <option value="opel">$200 &nbsp;</option>
                 <option value="audi">$300 &nbsp;</option>
               </select>
             </div>
           </div> -->

           <!-- {{category | json}} -->

           <!-- Product -->
           <div class="" ng-repeat="product in productsForThisCategory">
             <div class="m-10">
               <div class="row p-t-10 p-b-10 border-b border-t v-center">
                 <div class="col-20">
                   <!-- <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89e5fd826f8bdc563ab1743608690f39&auto=format&fit=crop&w=800&q=80" width="40" height="40" class="round cover"> -->
                   <img ng-src="{{product.mainProductImage}}" width="40" height="40" class="round cover">
                 </div>
                 <div class="col-60">
                   <p class="fw-600 m-b-0">{{product.name}}</p>
                   <p class="text-gray  m-b-0">{{product.short_description}}</p>
                 </div>
                 <div class="col-20 text-right">
                   <p class="text-blue fw-100 fs-20">{{product.price | currency}}</p>
                 </div>
               </div>
             </div>
           </div>

           <div class="p-b-50"></div>


</ion-content>
