
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <div class="row shadow relative z-hi ov-hidden">
            <div class="col">
              <h4 ng-if="!scrollTop" class="v-center m-0 p-t-5 fw-900 up fs-12 p-l-10 fade-element-in"><span class="lnr inline p-l-10 p-r-10"><img src="img/icons/ruby-gemstone.png"></span>Complete</h4>
              <span ng-if="scrollTop" class=" inline p-l-10 p-r-10 fade-element-in" menu-toggle="left"><img src="img/icons/menu.png"></span>
                <span ng-if="scrollTop" class=" inline p-l-10 p-r-10 fade-element-in"><img src="img/icons/search.png"></span>
                <span ng-if="scrollTop" class=" inline p-l-10 p-r-10 fade-element-in"><img src="img/icons/map.png"></span>
            </div>
            <div class="col text-right">

                <!-- Favorites notification -->
                <!-- TODO: what the notficication functionality looks like. -->
                <!-- <a ui-sref="app.user-profile">
                  <span class="lnr inline p-l-10 p-r-10"><img src="img/icons/appointment-reminders.png"><span class="badge">7</span></span>
                </a>     -->

                <!-- Favorites -->
                <a ui-sref="app.favorites">
                  <span class="lnr inline p-l-10 p-r-10"><img src="img/icons/hearts.png"><span class="badge"> {{ favorites }} </span></span>
                </a>


                <!-- access user account -->
                <a ui-sref="app.user-profile">
                  <span class="lnr inline p-l-10 p-r-10"><img src="img/icons/gender-neutral-user.png"></span>
                </a>

            </div>
          </div>

      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="120">

        <ion-content>

              <div>
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/shalt0ni/128.jpg">
              </div>

              <!-- <a ng-repeat="p in menu" class="{{p.type}}" ui-sref="{{p.state}}"  ng-click="navigateToXOrToLogin(p.state)"> -->
              <a ng-repeat="p in menu" class="{{p.type}}" ui-sref="{{p.state}}">
                  <span class="lnr lnr-{{p.icon}}"></span>
                  <p>{{p.title}}</p>
              </a>

        </ion-content>

    </ion-side-menu>
  </ion-side-menus>
