
<ion-content id="scrollContent" scroll-watch>

            <div class="p-b-20">

              <!-- Product -->
              <div class="row p-l-20 p-r-20 p-t-10 p-b-10 v-center border-t bg-light m-b-30 border-b">
                <div class="col-20">
                  <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89e5fd826f8bdc563ab1743608690f39&auto=format&fit=crop&w=800&q=80" width="40" height="40" class="round cover">
                </div>
                <div class="col-60">
                  <p class="fw-600 m-b-0">Huawei Mate SE</p>
                  <p class="text-gray  m-b-0">Huawei Fullview display</p>
                </div>
                <div class="col-20 text-right">
                  <span class="text-blue fw-100 fs-20 p-r-10">$24</span>
                </div>
              </div>

                <div class="row p-l-20 p-r-20 m-b-20">
                  <div class="col-20">
                    <img class="round" width="50" height="50" src="https://randomuser.me/api/portraits/women/43.jpg">
                  </div>
                  <div class="col-80">
                    <div class="bg-light p-t-10 p-b-10 p-l-20 p-r-20 round-medium text-gray">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores </div>
                  </div>
                </div>

                <div class="row p-l-20 p-r-20 m-b-20">
                  <div class="col-80">
                    <div class="bg-light p-t-10 p-b-10 p-l-20 p-r-20 round-medium text-gray">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores </div>
                  </div>
                  <div class="col-20 text-right">
                    <img class="round" width="50" height="50" src="https://randomuser.me/api/portraits/women/44.jpg">
                  </div>
                </div>

                <div class="row p-l-20 p-r-20 m-b-20">
                  <div class="col-20">
                    <img class="round" width="50" height="50" src="https://randomuser.me/api/portraits/women/43.jpg">
                  </div>
                  <div class="col-80">
                    <div class="bg-light p-t-10 p-b-10 p-l-20 p-r-20 round-medium text-gray">At vero eos et accusamus!!!!</div>
                  </div>
                </div>

                <div class="row p-l-20 p-r-20 m-b-20">
                  <div class="col-80">
                    <div class="bg-light p-t-10 p-b-10 p-l-20 p-r-20 round-medium text-gray">At vero eos et accusamus</div>
                  </div>
                  <div class="col-20 text-right">
                    <img class="round" width="50" height="50" src="https://randomuser.me/api/portraits/women/44.jpg">
                  </div>
                </div>

                <div class="m-t-30">
                  <div class="row bg-light p-l-20 p-r-20 p-t-10 p-b-10">
                    <div class="col-90"><input type="text" placeholder="Write your message here..." class="bg-white border p-l-20 full-width"></div>
                    <div class="col-10 text-center"><img src="https://png.icons8.com/dotty/20/8389af/filled-sent.png"></div>
                  </div>
                </div>

          </div><!-- end list tabs -->

</ion-content>
