<ion-content id="scrollContent" scroll-watch>

    <div class="p-20">
          <h4 class="cap p-t-10 p-b-10 fs-14 text-gray">my orders</h4>

          <!-- Orders -->
          <a href="single-order.html" class="no-decoration">
          <div class="row border-t border-b p-t-10 p-b-10">
            <div class="col-10 text-gray">#1</div>
            <div class="col-50 text-gray">Order date: </div>
            <div class="col-30 text-gray">12.09.2018</div>
            <div class="col-20 text-right"><img src="img/icons/chevron-right.png"></div>
          </div>
          </a>
          <a href="single-order.html" class="no-decoration">
          <div class="row border-b p-t-20 p-b-10">
            <div class="col-10 text-gray">#2</div>
            <div class="col-50 text-gray">Order date: </div>
            <div class="col-30 text-gray">14.09.2018</div>
            <div class="col-20 text-right"><img src="img/icons/chevron-right.png"></div>
          </div>
          </a>
          <a href="single-order.html" class="no-decoration">
          <div class="row border-b p-t-20 p-b-10">
            <div class="col-10 text-gray">#3</div>
            <div class="col-50 text-gray">Order date: </div>
            <div class="col-30 text-gray">10.11.2018</div>
            <div class="col-20 text-right"><img src="img/icons/chevron-right.png"></div>
          </div>
          </a>

    </div><!-- end list tabs -->


    <div class="p-b-50"></div>

</ion-content>
