<ion-content id="scrollContent" scroll-watch>

          <h4 class="cap p-l-20 p-r-20 p-t-10 p-b-10 fs-14 text-gray">favorites</h4>

           <!-- Product -->
           <div class="m-10">
           <div class="row p-t-10 p-b-10 border-b border-t v-center">
             <div class="col-20">
               <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89e5fd826f8bdc563ab1743608690f39&auto=format&fit=crop&w=800&q=80" width="40" height="40" class="round cover">
             </div>
             <div class="col-60">
               <p class="fw-600 m-b-0">Huawei Mate SE</p>
               <p class="text-gray  m-b-0">Huawei Fullview display</p>
             </div>
             <div class="col-20 v-center">
               <span class="text-blue fw-100 fs-20 p-r-10">$24</span>
                <spa>x 2</spa>
             </div>
           </div>
           </div>

           <!-- Product -->
           <div class="m-l-10 m-r-10">
           <div class="row p-t-10 p-b-10 border-b v-center">
             <div class="col-20">
               <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89e5fd826f8bdc563ab1743608690f39&auto=format&fit=crop&w=800&q=80" width="40" height="40" class="round cover">
             </div>
             <div class="col-60">
               <p class="fw-600 m-b-0">Huawei Mate SE</p>
               <p class="text-gray  m-b-0">Huawei Fullview display</p>
             </div>
             <div class="col-20 v-center">
               <span class="text-blue fw-100 fs-20 p-r-10">$24</span>
               <spa>x 5</spa>
             </div>
           </div>
           </div>

           <div class="bg-light p-20 up">Total: <span class="p-l-20 fw-500">$123.23</span></div>

          <div class="p-b-50"></div>


</ion-content>
